
html {
    height: 100%;
  }

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
	background: var(--app-bg);
}
.contentBlock {
    color: white;
    padding: 0 calc(10.6vw - 16px);
    padding-bottom: calc(11vw + 19px);
    padding-top: calc(5vw + 10px);
}
.none {
    display: none;
}
.authorization {
    background: linear-gradient(#141e30, #243b55);
}
.registration {
    background: linear-gradient(#141e30, #243b55);
}

  /*authorization  */
.autBtn {
    display: flex;
    justify-content: space-between;
}
.regBtn {
    display: flex;
    justify-content: space-between;
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    border: 1px solid var(--box-border);
    background: var(--box-color);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: var(--text-dark);
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-light);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--text-light);
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-light);
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--button-bg);
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--button-bg);
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 1px
}       

.mainBtn a:hover {
    background: var(--button-bg);
    color: #fff;
    border-radius: 5px;
    /* box-shadow: 0 0 5px var(--button-bg), */
                /* 0 0 25px var(--button-bg) */
                /* 0 0 50px var(--button-bg),
                0 0 100px var(--button-bg); */
}


.login-box a span {
    position: absolute;
    display: block;
}   

.mainBtn a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--button-bg));
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.mainBtn a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--button-bg));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.mainBtn a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--button-bg));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.mainBtn a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--button-bg));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
  


/* userProfile */


ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

h1 {
	font-size: 23px;
}

h2 {
	font-size: 17px;
}

p {
	font-size: 15px;
}

a {
	text-decoration: none;
	font-size: 15px;
}
a:hover {
    text-decoration: underline;
}

h1, h2, p, a, span{
	color: var(--text-dark);
}
.scnd-font-color {
    color: #9099b7;
}
.input-container {
	position: relative;
}
input[type=text]{
    width: 100%;
    padding: 1em;
    background: var(--box-color);
    color: var(--text-dark);
    border-bottom: 1px solid var(--text-light);
    border-radius: 5px;		
}
input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
    color: #5F9EA0;	   		
}
input[type=text]:-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #5F9EA0;	   
}
input[type=text]::-moz-input-placeholder { /* Mozilla Firefox 19+ */
    color: #5F9EA0;
}
input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #5F9EA0;	   	
}
input[type=text]:focus {
    outline: none; /* removes the default orange border when focus */
    border: 1px solid var(--button-bg);
}
.input-icon {
    font-size: 22px;
    position: absolute;
    left: 31px;
    top: 10px;
}
.input-icon.password-icon {
    left: 35px;
}

.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.horizontal-list li {
    float: left;
}

.clear {
	clear: both;
}

.icon {
	font-size: 25px;
}

.titular {
	display: block;
    padding: 1em 0;
	margin: 0;
	text-align: center;
}

.button {
	display: block;
	width: 175px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
	-webkit-transition: background .3s;
	transition: background .3s;
}
.button:hover {
    text-decoration: none;
}

.arrow-btn-container {
	position: relative;
}
.arrow-btn {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.arrow-btn:hover {
    text-decoration: none;
}
.arrow-btn.left {
    border-top-left-radius: 5px;
}
.arrow-btn.right {
    border-top-right-radius: 5px;
    right: 0;
    top: 0;
}
.arrow-btn .icon {
    display: block;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 100%;
    line-height: 17px;
    width: 21px;
    margin: 20px auto;
    text-align: center;
}
.arrow-btn.left .icon {
    padding-right: 2px;
}

.profile-picture {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;	
}
.big-profile-picture {
    margin: 0 auto;		
    border: 5px solid #50597b;
    width: 150px;
    height: 150px;
}
.small-profile-picture {
    border: 2px solid #50597b;
    width: 40px;
    height: 40px;
}


/** MAIN CONTAINER **/
.userProfileContainers {
    display: flex;
    justify-content: space-between;
}
.main-container {
    /* display: flex;
    flex-direction: column; */
	font-family: 'Ubuntu', sans-serif;
	/* width: 100%;
	height: 100%;
	margin: 6em auto; */
}	
	/*********************************************** HEADER ***********************************************/
header {
    height: 80px;
}
.header-menu {
    font-size: 17px;
    line-height: 80px;
}
.header-menu li {
    position: relative;
    -webkit-transform: translateZ(0); /** To avoid a flash when hover messages **/
}
.header-menu-tab {
    padding: 0 27px;
    display: block;
    font-size: 17px;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.header-menu-tab:hover {
    color: var(--chat-box-light);
    background: #50597b;
    text-decoration: none;
}
.header-menu-tab .icon {
    padding-right: 15px;
}
.header-menu-number {
    color:  var(--button-text);
    position: absolute;
    line-height: 22px;
    padding: 0 6px;
    font-weight: 700;
    background: var(--info-box-color-4);
    border-radius: 100%;
    top: 15px;
    right: 2px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.header-menu li:hover .header-menu-number {
    text-decoration: none;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

}
.profile-menu {
    display: flex;
    align-items: center;
    float: right;
    height: 80px;
    padding-right: 20px;
}
.profile-menu a {
    display: flex;
    justify-content: center;
    font-size: 17px;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    
}

.profile-menu a:hover {
    text-decoration: none;
}
.small-profile-picture {
    display: inline-block;
    vertical-align: middle;				
}
	/** CONTAINERS **/
.container {
    width: 300px;
}
.block {
    margin-bottom: 25px;
    border: 1px solid var(--box-border);
    background: var(--box-color);
    border-radius: 5px;
}
		/******************************************** LEFT CONTAINER *****************************************/
.left-container {
    flex-basis: 25%;
}
.menu-box {
    height: auto;
}
.menu-box .titular {
    color: var(--button-text);
    background: var(--logo-path-2);
}
.menu-box-menu .icon {
    display: inline-block;
    vertical-align: top;
    width: 28px;
}
.menu-box-number {
    width: 36px;
    line-height: 22px;
    border: 1px solid var(--box-border);
    background: var(--box-color);
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.menu-box-menu li{
    height: 60px;
    position: relative;										
}
.menu-box-tab {
    line-height: 60px;
    display: block;
    border-bottom: 1px solid var(--box-border);
    -webkit-transition: background .2s;
    transition: background .2s;
}
.menu-box-tab:hover {
    color: var(--button-text);
    background: var(--info-box-3);
    text-decoration: none;
}
.menu-box-tab:hover .icon {
    color: #fff;
}
.menu-box-tab:hover .menu-box-number {
    background: var(--info-box-color-4);
}

    
		/************************************************** MIDDLE CONTAINER **********************************/
.middle-container {
    flex-basis: 40%;
}
.imgUser {
    width: 150px;
}
.profile {
    padding-bottom: 2em;
}
.add-button .icon {
    float: right;
    line-height: 18px;
    width: 23px;					
    border: 2px solid;
    border-radius: 100%;
    font-size: 18px;
    text-align: center;
    margin: 10px;					
}
.add-button .icon:hover {
    color:  var(--info-box-color-4);
    border-color: var(--info-box-color-4);
}
.user-name {
    margin: 25px 0 16px;
    text-align: center;
}
.profile-description {
    width: 210px;
    margin: 0 auto;
    text-align: center;
}
.profile-options {
    padding-top: 23px;
    display: flex;
    justify-content: center;
}
.profile-options li {
    border-left: 1px solid #1f253d;
}
.profile-options p {
    margin: 0;
}
.profile-options a {
    display: block;					
    width: 99px;
    line-height: 60px;
    text-align: center;
    -webkit-transition: background .3s;
    transition: background .3s;	
}
.profile-options a:hover {
    text-decoration: none;
    background: #50597b;
}
.profile-options a:hover.comments .icon {
    color: #fcb150;
}
.profile-options a:hover.views .icon {
    color: #11a8ab;
}
.profile-options a:hover.likes .icon {
    color: var(--info-box-color-4);
}
.profile-options .icon {
    padding-right: 10px;
}
.profile-options .comments {
    border-top: 4px solid #fcb150;
}
.profile-options .views {
    border-top: 4px solid #11a8ab;
}
.profile-options .likes {
    border-top: 4px solid var(--info-box-color-4);
}
			
		/********************************************* RIGHT CONTAINER ****************************************/
.right-container {
    flex-basis: 30%;
}
.join-newsletter {
    height: auto;
    padding: 1em 0.5em;
    
}
.subscribe.button {
    color: var(--button-text);
    background: var(--logo-path-2);
    margin-top: 10px;
}
.subscribe.button:hover {
    background: var(--button-bg);
}

 /* для автозаполнения input, чтобы небыло фона */
 input:-webkit-autofill {
    transition: all 5000s ease-in-out 0s;
  }



			